.parceiros_lista {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}


@media (max-width: 800px) {
    .parceiros_lista {
       grid-template-columns: repeat(2, 1fr);
    }
}