.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
    overflow: hidden;
}


@media (max-width: 800px) {
    .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
    }
}