@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

@import url(globais/componentes.css);
@import url(globais/tipografia.css);
@import url(globais/cores.css);

@import url(cabecalho/cabecalho-bg.css);
@import url(cabecalho/cabecalho.css);
@import url(cabecalho/cabelho-lista.css);
@import url(cabecalho/cabecalho-item.css);
@import url(cabecalho/cabecalho-link.css);

@import url(introducao/introducao-bg.css);
@import url(introducao/introducao.css);
@import url(introducao/introducao-title.css);
@import url(introducao/introducao-description.css);
@import url(introducao/introducao_link.css);
@import url(introducao/introducao-img.css);
@import url(introducao/introducao-conteudo.css);
@import url(introducao/introducao-container-img.css);

@import url(bicicletas-lista/bicicletas-lista-container.css);
@import url(bicicletas-lista/bicicletas-lista-titulo.css);
@import url(bicicletas-lista/bicicletas-lista.css);
@import url(bicicletas-lista/bicicletas-lista-item.css);
@import url(bicicletas-lista/bicicletas-lista-link.css);
@import url(bicicletas-lista/bicicletas-lista-img.css);
@import url(bicicletas-lista/bicicletas-lista-subtitulo.css);
@import url(bicicletas-lista/bicicletas-lista-preco.css);

@import url(tecnologia/tecnologia-bg.css);
@import url(tecnologia/tecnologia.css);
@import url(tecnologia/tecnologia-img.css);
@import url(tecnologia/tecnologia-conteudo.css);
@import url(tecnologia/tecnologia_avancada.css);
@import url(tecnologia/tecnologia-titulo-principal.css);
@import url(tecnologia/tecnologia-description.css);
@import url(tecnologia/tecnologia-link.css);

@import url(tecnologia/tecnologia-vantagens/tecnologia-vantagens.css);
@import url(tecnologia/tecnologia-vantagens/tecnologia-vantagens-titulo.css);
@import url(tecnologia/tecnologia-vantagens/tecnologia-vantagens-icone.css);

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}