@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import url(globais/componentes.css);
@import url(globais/tipografia.css);
@import url(globais/cores.css);

@import url(./home/cabecalho/cabecalho-bg.css);
@import url(./home/cabecalho/cabecalho.css);
@import url(./home/cabecalho/cabelho-lista.css);
@import url(./home/cabecalho/cabecalho-item.css);
@import url(./home/cabecalho/cabecalho-link.css);

@import url(./home/introducao/introducao-bg.css);
@import url(./home/introducao/introducao.css);
@import url(./home/introducao/introducao-title.css);
@import url(./home/introducao/introducao-description.css);
@import url(./home/introducao/introducao_link.css);
@import url(./home/introducao/introducao-img.css);
@import url(./home/introducao/introducao-conteudo.css);
@import url(./home/introducao/introducao-container-img.css);

@import url(./home/bicicletas-lista/bicicletas-lista-container.css);
@import url(./home/bicicletas-lista/bicicletas-lista-titulo.css);
@import url(./home/bicicletas-lista/bicicletas-lista.css);
@import url(./home/bicicletas-lista/bicicletas-lista-item.css);
@import url(./home/bicicletas-lista/bicicletas-lista-link.css);
@import url(./home/bicicletas-lista/bicicletas-lista-img.css);
@import url(./home/bicicletas-lista/bicicletas-lista-subtitulo.css);
@import url(./home/bicicletas-lista/bicicletas-lista-preco.css);

@import url(./home/tecnologia/tecnologia-bg.css);
@import url(./home/tecnologia/tecnologia.css);
@import url(./home/tecnologia/tecnologia-img.css);
@import url(./home/tecnologia/tecnologia-conteudo.css);
@import url(./home/tecnologia/tecnologia_avancada.css);
@import url(./home/tecnologia/tecnologia-titulo-principal.css);
@import url(./home/tecnologia/tecnologia-description.css);
@import url(./home/tecnologia/tecnologia-link.css);

@import url(./home/tecnologia/tecnologia-vantagens/tecnologia-vantagens.css);
@import url(./home/tecnologia/tecnologia-vantagens/tecnologia-vantagens-titulo.css);
@import url(./home/tecnologia/tecnologia-vantagens/tecnologia-vantagens-icone.css);

@import url(./home/parceiros/parceiros.css);
@import url(./home/parceiros/parceiros-titulo.css);
@import url(./home/parceiros/parceiros-lista.css);
@import url(./home/parceiros/parceiros-item.css);
@import url(./home/parceiros/parceiros-img.css);

@import url(home/depoimento/depoimento.css);
@import url(home/depoimento/depoimento-img.css);
@import url(home/depoimento/depoimento-conteudo.css);
@import url(home/depoimento/depoimento-conteudo-description.css);


@import url(home/seguros/seguros.css);
@import url(home/seguros/seguros-bg.css);
@import url(home/seguros/seguros-titulo.css);
@import url(home/seguros/seguros-beneficios.css);
@import url(home/seguros/seguros-beneficios-titulo.css);
@import url(home/seguros/seguros-beneficios-lista.css);
@import url(home/seguros/seguros-beneficios-link.css);

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}